/*shared style*/
  .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}
  .logo h2 {font-size:45px;font-weight:900;}
  .color-orange{color:#FD6E0A;}
  .btn {background-color: #FD6E0A;
    border:none;
    padding:18px 35px;
    border-radius:5px;
    font-weight: bold;
    font-size:20px;
    color:white;
    cursor: pointer;}

    #about, #skills , #resume {margin-top:130px;}
  /*main style*/
  header {background-color:#FFF8F3;
    margin-top:50PX;
    background:url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position:23px 38px,bottom right ;
  background-repeat:no-repeat ;}
  Nav{width:71%;
    max-width:1140px;
    margin:0px auto;
    display:flex;
    justify-content:space-between;
    align-items: center;}
    nav .menu{display: flex;list-style: none;gap:51px;align-items: center;}
    nav .menu a{font-size:20px;text-decoration:none;color:#474747;}
    #banner {margin:47px 38px 0 230px;display: flex;justify-content:space-between;align-items:center;}
    #banner .banner-content h2 {color: #474747;
      font-size:45px;
      font: weight 600px;
      margin-bottom:5px;}
    #banner .banner-content h1 {font-size:85px;font-weight: bold;color:#181818;margin:20px;}
    #banner .banner-content p {font-size:18px;color:#757575 ;margin-bottom:30px;}
    #banner .banner-content {max-width:585px;}
    #banner .banner-image img {max-width:584px;vertical-align:middle;}
    
    #about .about-container {width:71%;
      max-width:1140px;
      margin:0 auto;
      text-align:center;
      background-color: #FFF8F3;
      padding:131px 156px;}
    .section-heading {max-width:827px;text-align: center;margin:0 auto;}
    .section-heading h2 {font-size:35px;margin-bottom:30px;}
    .section-heading p {color: #757575;
      margin-bottom:30px;
      font-size:18px;
      line-height:30px;}
      #about .about-container .about-info {display:flex;justify-content: space-around;}
      #about .about-container {max-width: 1140px;width:71%;}
      .about-info .info-card h4 {font-size:20px;}
      
      #skills .skills-container {width:71%;max-height:1140px;margin:0 auto;}
      #skills .skills-container .skill-box {display:flex;gap:24px;width:71%;max-height:1140px;margin:0 auto;}
      .skill-box .skill-card {padding:30px;max-width :267px;box-shadow:0 6px 50px 0 #0000000c;}
      .skill-card img{max-width:44px;margin-bottom:30px;}
      .skill-card h3{font-size:20px;font-weight: bold;margin-bottom:20px;}
      .skill-card p{color: #757575;font-size:16px;max-width:201px;line: height 28px;}
     #resume .resume-container{width:71%;max-width:1140px;margin:113px auto 0;display: flex;gap: 24px;}
     .resume-container .section-title {font-size:30px;
      font-weight:bold;
      color: #474747;
      margin-bottom:30px ;}
      .resume-card {max-width:511px;margin-right:47px;}
      .resume-card.card-title {font-size: 25px;font-weight:bold;color: #474747;margin-bottom:10px;}
      .resume-container .card-info{font-size: 20px;
        font-weight:600px;
        color:#757575;
        margin-bottom:20px;}
        .resume-card .card-text{font-size: 16px;
        line-height: 28px;
        color:#757575;}
         .resume-container hr {margin:30px 0;}
         .text-center {text-align: center;}
         footer {margin top:130px;
          background-color:#FFF8F3;
        padding: 130px 0;}
        footer .footer-container {width:71%;
        max-width:1140px;
      margin:0 auto;
    display:flex;
  gap: 116px;}
  .footer-container .social{max-width:562px;}
   .footer-container h2 {font-size:35px; font-weight:bold; color: #181818;margin-bottom:20px;}
   .footer-container .social p {font-size:16px;line-height:28px;color:#474747;margin-bottom:30px;}
   .footer-container .icons a {margin-right:24px;}
   .footer-container .input [type= "text"]
   {width: 461px;
    padding: 18px 31px;
    margin-bottom:24px;
    border:none;border-radius:5px;
    color: #757575;}
    .footer-container  .hh textarea{width: 461px;height:180px;
    padding: 18px 31px;
    margin-bottom:24px;
    border:none;border-radius:5px;
    color: #757575;}